# Dependency directories
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Editor directories and files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Auto-update files
auto_update.sh
auto_commit.sh
update_log.txt
commit_log.txt
